@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}



@media screen and (min-width: 1600px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container-content {
    grid-template-columns: 1fr 1fr;
  }

  /* restaurant details  */
  .resto-detail-header {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    margin-bottom: 5rem;
  }

  .banner img {
    width: auto;
    height: 100%;
  }

  .container-content {
    grid-template-columns: 1fr;
  }

  /* restaurant detail  */
  .restoMain .resto-menu {
    grid-template-columns: 1fr;
    text-align: center;
  }
}



